<div class="container text-center mb-2">
  <h2><%= t('views.navigations.sign_up') %></h2>
</div>

<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :name, class: "font-weight-bold" %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :number, class: "font-weight-bold" %>
              <%= f.text_field :number, autofocus: true, autocomplete: "number", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :email, class: "font-weight-bold" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password, class: "font-weight-bold" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %><%= t('views.navigations.messages.too_short') %>)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, class: "font-weight-bold" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="actions text-center">
              <%= f.submit t('views.navigations.sign_up') %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
