<%# _edit.html.erb とほとんど同じですが、url の指定を一緒にできなかったためパーシャル化できておりません %>
<%= form_with(model: [product, negotiation, result], local: false) do |form| %>
  <div class="form-group">
    <%= form.label :content, class: "font-weight-bold" %>
    <%= form.text_area :content, class: "form-control", rows:3, placeholder: "味にもっとコクが欲しいとのことでした。改善をお願いします。" %>
  </div>

  <div class="form-group">
    <%= form.label :reference_image, class: "font-weight-bold" %>
    <%= form.file_field :reference_image, class: "form-control-file" %>
    <%= form.hidden_field :reference_image_cache %>
    <%= image_tag(result.reference_image.url) if result.reference_image && result.reference_image.url %>
  </div>

  <div class="actions text-center">
    <%= form.submit %>
  </div>
<% end %>