<div class="result" id ="this_result_<%= result.id %>">
  <p class="mb-1"><strong><%= t('activerecord.attributes.result.content') %></strong></p>
  <p><%= result.content %></p>
  
  <p class="mb-1"><strong><%= t('activerecord.attributes.result.reference_image') %></strong></p>
  <p>
    <% if result.reference_image.present? %>
      <%= image_tag result.reference_image.url %>
    <% else %>
      <%= t('helpers.select.no_choice') %>
    <% end %>
  </p>

  <p class="mb-1">
    <strong><%= t('activerecord.attributes.result.user_id') %></strong>
    <%= result.user.name %>
  </p>

  <div class="text-right">
    <%= link_to t('helpers.submit.edit'), edit_product_negotiation_result_path(product, negotiation, result), remote: true, class:"btn btn-success btn-sm" %>
  </div>
</div>
