<div class="result" id ="this_result_<%= result.id %>">
  <p class="mb-1"><strong><%= t('activerecord.attributes.result.content') %></strong></p>
  <p><%= result.content %></p>
  
  <p class="mb-1"><strong><%= t('activerecord.attributes.result.reference_image') %></strong></p>
  <% if result.reference_image.present? %>
    <p class="text-center"><%= image_tag result.reference_image.url, class:"w-75" %></p>
  <% else %>
    <p><%= t('helpers.select.no_choice') %></p>
  <% end %>

  <p class="mb-1">
    <strong><%= t('activerecord.attributes.result.entered_by') %></strong>
    <%= result.user.name %>
  </p>

  <% if product.status == "提案" %>
    <% if current_user.sales? || current_user.admin? %>
      <div class="text-right">
        <%= link_to t('helpers.submit.edit'), edit_product_negotiation_result_path(product, negotiation, result), remote: true, class:"btn btn-success btn-sm", id:"result_edit" %>
      </div>
    <% end %>
  <% end %>
</div>
