<h2><%= t('activerecord.models.negotiation') %></h2>

<h4><%= t('activerecord.attributes.product.assumed_name') %>: <%= @negotiation.product.assumed_name %></h4>

<h4><%= t('activerecord.attributes.negotiation.negotiate_at') %>: <%= @negotiation.negotiate_at %></h4>