<div class="container text-center mb-3">
  <h1>Homes#index</h1>
  <p>Find me in app/views/homes/index.html.erb</p>
</div>

<div class="container text-center mb-4">
  <%= link_to users_sales_guest_sign_in_path, method: :post, class: "btn btn-success" do %>
    <%= t('views.homes.sales_guest') %>
    <br>
    <%= t('views.homes.guest_sign_in') %>
  <% end %>

  <%= link_to users_admin_guest_sign_in_path, method: :post, class: "btn btn-danger ml-2 mr-2" do %>
    <%= t('views.homes.admin_guest') %>
    <br>
    <%= t('views.homes.guest_sign_in') %>
  <% end %>

  <%= link_to users_developer_guest_sign_in_path, method: :post, class: "btn btn-success" do %>
    <%= t('views.homes.developer_guest') %>
    <br>
    <%= t('views.homes.guest_sign_in') %>
  <% end %>
</div>