<h2><%= t('activerecord.models.result') %></h2>

<h4><%= t('activerecord.attributes.product.assumed_name') %>: <%= @result.negotiation.product.assumed_name %></h4>

<h4><%= t('activerecord.attributes.negotiation.negotiate_at') %>: <%= @result.negotiation.negotiate_at %></h4>