<h1><%= t('views.products.index') %></h1>

<table>
  <thead>
    <tr>
      <th>assumed_name</th>
      <th>client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.assumed_name %></td>
        <td><%= product.client.name %></td>
        <td><%= link_to t('helpers.submit.show'), product %></td>
        <td><%= link_to t('helpers.submit.edit'), edit_product_path(product) %></td>
        <td><%= link_to t('helpers.submit.destroy'), product, method: :delete, data: { confirm: t('helpers.confirm.destroy') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.submit.new'), new_product_path %>