<h1><%= t('views.products.request_index') %></h1>

<%= link_to t('helpers.submit.new'), new_product_path %>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.product.client_id') %></th>
      <th><%= t('activerecord.attributes.product.assumed_name') %></th>
      <th><%= t('activerecord.attributes.product.start_on') %></th>
      <th><%= t('activerecord.attributes.product.user_id') %></th>
      <th><%= t('activerecord.attributes.product.application_status') %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.client.name %></td>
        <td><%= product.assumed_name %></td>
        <td><%= product.start_on %></td>
        <td><%= product.user.name %></td>
        <td><%= product.application_status %></td>
        <td><%= link_to t('helpers.submit.show'), request_show_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

