<h1><%= t('views.products.show') %></h1>

<p>
  <strong><%= t('activerecord.attributes.product.assumed_name') %></strong>
  <%= @product.assumed_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.assumed_selling_price') %></strong>
  <%= @product.assumed_selling_price %>
  <%= t('number.currency.format.unit') %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.assumed_wholesale_price') %></strong>
  <%= @product.assumed_wholesale_price %>
  <%= t('number.currency.format.unit') %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.start_on') %></strong>
  <%= @product.start_on %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.period') %></strong>
  <%= @product.period %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.volume') %></strong>
  <%= @product.volume %>
  <%= t('views.products.unit') %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.purpose') %></strong>
  <%= @product.purpose %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.concept') %></strong>
  <%= @product.concept %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.reference_image') %></strong>
  <%= image_tag default_img(@product.reference_image.url) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.status') %></strong>
  <%= @product.status %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.client_id') %></strong>
  <%= @product.client.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.category_id') %></strong>
  <%= @product.category.name %>
</p>

<%= form_with(model: @product, local: true ) do |form| %>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Product.statuses.keys.map %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to t('helpers.submit.edit'), edit_product_path(@product) %>
<%= link_to t('helpers.submit.destroy'), @product, method: :delete, data: { confirm: t('helpers.confirm.destroy') } %>
<%= link_to t('helpers.submit.back'), products_path %>

<% if current_user.developer? && @product.status == "提案" %>
<hr>
<%= render partial: 'negotiations/form', locals: { negotiation: @negotiation, product: @product } %>
<% end %>

<hr>

<div id="negotiations_area">
  <%= render partial: 'negotiations/index', locals: { negotiations: @negotiations, product: @product } %>
</div>
