<p id="notice"><%= notice %></p>

<h1><%= t('views.products.show') %></h1>

<p>
  <strong><%= t('activerecord.attributes.product.assumed_name') %></strong>
  <%= @product.assumed_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.assumed_selling_price') %></strong>
  <%= @product.assumed_selling_price %>
  <%= t('number.currency.format.unit') %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.assumed_wholesale_price') %></strong>
  <%= @product.assumed_wholesale_price %>
  <%= t('number.currency.format.unit') %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.start_on') %></strong>
  <%= @product.start_on %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.period') %></strong>
  <%= @product.period %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.volume') %></strong>
  <%= @product.volume %>
  <%= t('views.products.unit') %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.purpose') %></strong>
  <%= @product.purpose %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.concept') %></strong>
  <%= @product.concept %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.reference_image') %></strong>
  <%= image_tag default_img(@product.reference_image.url) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.status') %></strong>
  <%= @product.status %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.client_id') %></strong>
  <%= @product.client.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.product.category_id') %></strong>
  <%= @product.category.name %>
</p>
<hr>
<div id="negotiations_area">
  <%= render partial: 'negotiations/index', locals: { negotiations: @negotiations, product: @product } %>
</div>

<%= render partial: 'negotiations/form', locals: { negotiation: @negotiation, product: @product } %>

<%= link_to t('helpers.submit.edit'), edit_product_path(@product) %>
<%= link_to t('helpers.submit.back'), products_path %>
