<p id="notice"><%= notice %></p>

<p>
  <strong>assumed_name:</strong>
  <%= @product.assumed_name %>
</p>

<p>
  <strong>assumed_selling_price:</strong>
  <%= @product.assumed_selling_price %>
</p>

<p>
  <strong>assumed_wholesale_price:</strong>
  <%= @product.assumed_wholesale_price %>
</p>

<p>
  <strong>start_on:</strong>
  <%= @product.start_on %>
</p>

<p>
  <strong>period:</strong>
  <%= @product.period %>
</p>

<p>
  <strong>volume:</strong>
  <%= @product.volume %>
</p>

<p>
  <strong>purpose:</strong>
  <%= @product.purpose %>
</p>

<p>
  <strong>concept:</strong>
  <%= @product.concept %>
</p>

<p>
  <strong>reference_image:</strong>
  <%= @product.reference_image %>
</p>

<p>
  <strong>status:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>client_id:</strong>
  <%= @product.client_id %>
</p>

<p>
  <strong>category_id:</strong>
  <%= @product.category_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
