<%= form_with(model: [product, negotiation], local: false) do |form| %>
  <% if negotiation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(negotiation.errors.count, "error") %> prohibited this negotiation from being saved:</h2>

      <ul>
        <% negotiation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, id: "negotiation_name_#{product.id}" %>
    <%= form.label :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>