<%= form_with(model: [product, negotiation], local: false) do |form| %>
  <div class="form-group">
    <%= form.label :negotiate_at, class: "font-weight-bold" %>
    <%= form.date_select :negotiate_at, default: 1.weeks.from_now, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name, class: "font-weight-bold" %>
    <%= form.text_field :name, class: "form-control", placeholder: "ポテトサラダ" %>
  </div>

    <div class="form-group">
    <%= form.label :product_image, class: "font-weight-bold" %>
    <%= form.file_field :product_image, class: "form-control-file" %>
    <%= form.hidden_field :product_image_cache %>
    <%= image_tag(negotiation.product_image.url) if negotiation.product_image && negotiation.product_image.url %>
  </div>

  <div class="form-group">
    <%= form.label :selling_price, class: "font-weight-bold" %>
    <div class="form-row">
      <div class="col-11">
        <%= form.number_field :selling_price, class: "form-control", placeholder: "半角数字で入力してください" %>
      </div>
      <div class="col d-flex align-items-end">
        <%= t('number.currency.format.unit') %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :wholesale_price, class: "font-weight-bold" %>
    <div class="form-row">
      <div class="col-11">
        <%= form.number_field :wholesale_price, class: "form-control", placeholder: "半角数字で入力してください" %>
      </div>
      <div class="col d-flex align-items-end">
        <%= t('number.currency.format.unit') %>
        </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :explanation, class: "font-weight-bold" %>
    <%= form.text_area :explanation, class: "form-control", rows:3, placeholder: "野菜の産地を北海道に変更し、「北海道産」を表示できる規格にしました。" %>
  </div>

  <div class="actions text-center">
    <%= form.submit %>
  </div>
<% end %>