<%= form_with(model: [product, negotiation], local: false) do |form| %>

  <div class="field">
    <%= form.label :negotiate_at %>
    <%= form.date_select :negotiate_at, default: 1.weeks.from_now %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :selling_price %>
    <%= form.number_field :selling_price %>
    <%= t('number.currency.format.unit') %>
  </div>

  <div class="field">
    <%= form.label :wholesale_price %>
    <%= form.number_field :wholesale_price %>
    <%= t('number.currency.format.unit') %>
  </div>

  <div class="field">
    <%= form.label :product_image %>
    <%= form.file_field :product_image %>
    <%= form.hidden_field :product_image_cache %>
    <%= image_tag negotiation.product_image.url if negotiation.product_image && negotiation.product_image.url %>
  </div>

  <div class="field">
    <%= form.label :explanation %>
    <%= form.text_area :explanation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>