<div class="container">
  <div class="row">
    <% if product.status == "提案" %>
      <% if current_user.developer? || current_user.admin? %>
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title"><%= t('views.negotiations.new') %></h4>
              <%= render partial: 'negotiations/form', locals: { negotiation: negotiation, product: product } %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <% negotiations.each do |negotiation| %>
      <% if negotiation.id.present? %>
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <div class="negotiation" id ="this_negotiation_<%= negotiation.id %>">
                <h6 class="card-subtitle"><%= negotiation.negotiate_at %> 商談</h6>
                <h5 class="card-title"><%= negotiation.name %></h5>
                <p class="text-center"><%= image_tag default_img(negotiation.product_image.url), class:"w-100" %></p>
                <div>
                  <table>
                    <tr>
                      <th><%= t('activerecord.attributes.negotiation.entered_by') %></th>
                      <td><%= negotiation.user.name %></td>
                    </tr>
                    <tr>
                      <th><%= t('activerecord.attributes.negotiation.selling_price') %></th>
                      <td><%= negotiation.selling_price %><%= t('number.currency.format.unit') %></td>
                    </tr>
                    <tr>
                      <th><%= t('activerecord.attributes.negotiation.wholesale_price') %></th>
                      <td><%= negotiation.wholesale_price %><%= t('number.currency.format.unit') %></td>
                    </tr>
                  </table>
                  <p class="mb-1"><strong><%= t('activerecord.attributes.negotiation.explanation') %></strong></p>
                  <p><%= negotiation.explanation %></p>
                </div>
                <div class="text-right">
                  <% if current_user.developer? || current_user.admin? %>
                    <% if product.status == "提案" %>
                      <%= link_to t('helpers.submit.edit'), edit_product_negotiation_path(product, negotiation), remote: true, class:"btn btn-success btn-sm", id:"negotiation_edit" %>
                      <%= link_to t('helpers.submit.destroy'), product_negotiation_path(negotiation.product_id, negotiation.id), method: :delete, remote: true, data: { confirm: t('helpers.confirm.destroy') }, class:"btn btn-danger btn-sm", id:"negotiation_delete" %>
                    <% end %>
                  <% end %>
                </div>
                <hr>
                <div id="results_area_<%= negotiation.id %>">
                  <% if negotiation.result.present? %>
                    <%= render partial: 'results/show', locals: { result: negotiation.result, negotiation: negotiation, product: product } %>
                  <% else %>
                    <% if product.status == "提案" %>
                      <% if current_user.sales? || current_user.admin? %>
                        <%= render partial: 'results/form', locals: { result: result, negotiation: negotiation, product: product } %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>