<!DOCTYPE html>
<html>
  <head>
    <title>DeliReco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <% if current_user.admin? || current_user.sales? %>
        <%= link_to t("views.request_products.index"), request_products_path %>
      <% end %>
      <%= link_to t("views.products.index"), products_path %>
      <%= link_to t("views.navigations.logout"), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t("views.navigations.sign_up"), new_user_registration_path %>
      <%= link_to t("views.navigations.login"), new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
